body{
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color:#fff;
}

nav{
    width: 100%;
    margin: 10px 0 0;
    padding: 10px;
    display: inline-flex;
    position: relative;
}

.brand{
    left: 0;
    padding:10px;
    position: relative;
    width: 100%;
    flex: 1;
}

.brand a{
    text-decoration: none;
    color: rgb(66, 65, 65);
    font-family: 'poppins', serif;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 2px;
}

.mainmenu{
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 1;
}

.mainmenu ul{
    display: inline-flex;
    text-align: center;
    position: relative;
    padding: 10px;
}

.mainmenu ul li{
    margin: 0 15px;
    list-style: none;
}

.mainmenu ul li a{
    text-decoration: none;
    color: rgb(66, 65, 65);
    font-family: 'poppins', serif;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 2px;
}

.logbtn{
    width: 100%;
    right: -10%;
    position: relative;
    flex: 1;
}

.logbtn ul{
    display: inline-flex;
    text-align: center;
    position: relative;
}

.logbtn ul li{
    margin: 0 15px;
    list-style: none;
}

.logbtn ul li a{
    text-decoration: none;
    color: rgb(66, 65, 65);
    font-family: 'poppins', serif;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 2px;
}

.logbtn ul li button{
    border: none;
    background-color:#28a99e;
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
    text-decoration: none;
    font-family: 'poppins', serif;
    font-size: 13px;
    font-weight: bold;
    box-shadow: none;
}

.heading{
    margin: 20px;
    width: 100%;
    height: auto;
}

.heading h1{
    font-family: 'montserrat', serif;
    text-transform: capitalize;
    font-size: 4em;
    font-weight: bolder;
    width: 100%;
    margin-top: 50px;
}

.heading p{
    width: 75%;
    font-size: 1em;
    font-family: 'poppins', serif;
}

.heading form input{
    width: 80%;
}


.img{
    float: right;
    width: 30%;
}

.img img{
    position: relative;
}

.menucont{
    width: 100%;
    position: relative;
}

.menucont h3{
    text-align: center;
    font-family: 'montserrat', serif;
    font-weight: bold;
    text-transform: capitalize;
    margin: 10px 10px 20px;
    letter-spacing: 1px;
    font-size: 1.9em;
}

.in-cont{
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.div-1{
    border-radius: 20px;
    width: 18%;
    margin:20px;
    text-align: center;
}

#img-burger, #img-smoothie, #img-chocolate, #img-desserts{
    margin: 15px 5px;
}

.text{
    margin: 20px 0;
    position: relative;
    font-family: 'poppins', serif;
}

 .text h4{
    font-size: 1.1em;
    color: gray;
}

.text p{
    font-size: 0.8em;
    color: rgb(167, 163, 163);
}

.subtext{
    width: 100%;
    height: auto;
    position: relative;
    font-family: 'montserrat', serif;
}

.subtext h2{
    margin-top: 40px;
    font-family: 'montserrat', serif;
    text-transform: capitalize;
    font-size: 3em;
    font-weight: bolder;
    width: 90%;
}

.subtext p{
    width: 100%;
    font-size: 1em;
    font-family: 'poppins', serif;
}

.green{
    color: #28a99e;
}

button{
    box-shadow: 1px 3px 10px #dc3545;
}

#menu-h3{
    text-align: center;
    font-family: 'montserrat', serif;
    font-weight: bolder;
    text-transform: capitalize;
    margin: 0px 0 -50px;
    letter-spacing: 1px;
    font-size: 1.9em;
    transform: translateY(100%);
}

.slide-row{
    display: flex;
    width: 1700px;
    transition: 0.5s;
}
.slide-col{
    width: 850px;
    height: 250px;
    position: relative; 
    align-items: center;
}

.test-container{
    width: 800px;
    height: 250px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.indicator{
    position: relative;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    bottom: 0px;
}
.btn-1{
    display: inline-block;
    border: 1px solid #dc3545;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.5s;
    width: 20%;
}

.active{
    width: 150px;
    background-color: #dc3545;
    box-shadow: 1px 3px 10px #dc3545;
    color: white;
}

.lunch-menu{
    width: 100%;
    height: auto;
    overflow: hidden;
 }

 .hero{
    height: 80vh;
    width:72%;
    position: relative;
 }

 .window{
    height: auto;
    margin: 0 30px;
    text-align: center;
 }

 .img-dinner, .img-lunch, .img-breakfast img{
    margin: 0 7px;
 }

.review-cont{
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    background-color: #fcf0f2;
}

h4{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-transform: capitalize;
}

.review1{
    margin: -10px 8px 50px;
    padding: 10px;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0px 7px 15px #ffbdc7;
}

.review1 img{
    border-radius: 50%;
    margin: 20px 0 0 ;
}

.review1 .text{
    font-size: 14px;
    font-family: 'poppins', serif;
    width: 80%;
    left: 10%;
}

.text-small{
    font-size: 13px;
}

.hr-line{
    border-top: 1px solid #f5061e;
    width: 60px;
    box-shadow: 0px 5px 5px #b90719;
}

.bold{
    font-weight: bold;
}

.blog1{
    background-color: #fff;
    border: 1px solid #eee;
    height: 130px;
    box-shadow: 2px 2px 5px #eee;
    border-radius: 15px;
    display: inline-flex;
    width: 80%;
    position: relative;
    right: -15%;
} 

.blog2{
    height: 400px;
    box-shadow: 2px 3px 10px #eee;
    border-radius: 15px;
    display: inline-flex;
    background-color: #fff;
    border: 1px solid #eee;
    width: 100%;
    position: relative;
    left: 5%;
}


.blog1 p{
    width: 80%;
    font-family: 'poppins', serif;
    font-size: 0.78em;

}

.blog2, .blog1 img{
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

footer li{
    list-style: none;
    margin: 5px;
    text-align: left;
}

footer li a{
    text-decoration: none;
    color: rgb(66, 65, 65);
    font-family: 'poppins', serif;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 2px;
}

h5{
    text-decoration: none;
    color: rgb(66, 65, 65);
    font-family: 'poppins', serif;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: left;
}

.foot-brand a{
    text-decoration: none;
    color: rgb(110, 110, 110);
    font-family: 'poppins', serif;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: left;
}

address{
    text-decoration: none;
    color:black;
    font-family: 'poppins', serif;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}